<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
                        <div class="container-fluid1" >
                            <div class="navbar-header" >
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" data-toggle="menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
<!-- href="#menu-toggle" --> 
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav " style="float: right;">
                           			<li> 
                           				<form class="navbar-form navbar-left" >
                               				<div class="input-group" style="max-width: 700px">
                                        	 <input type="search" class="form-control" placeholder="Search..."  name="search" ng-model="searchtext">
                                      	<div class="input-group-btn">
                                        	<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search" style="line-height: 1.5" ></span></button>
                                      	</div>
                    				</div>
                                </form>
                              </li>
                             	<li style="margin-top: 6px;"><button id="list" type="button" class="btn btn-dafault glyphicon" ng-click="isList = !isList" ng-class="{'glyphicon-list': !isList, 'glyphicon-th-large': isList}" style="margin-top: 5px"></button></li>
                                  <li>
                                  <a href="#" id="list">
                                  <span class="glyphicon glyphicon-refresh" ng-click="readTodo()" style="margin-top: 15px">
                                  </span>
                                  </a>
                                  </li>
                                  <li>
                                  	<a href=""class="dropdown-toggle" data-toggle="dropdown" style="margin-top: 5px">
										<img id="menu" class="user2" src=""
										alt="{{user.fullName.charAt(0).toUpperCase()}}">
									</a>
									<div style="width: 325px; height: 180px; margin-left: -260px;top: 50px"class="dropdown-menu ">
										<div>
											
												<img class="user1" src="" alt="{{user.fullName.charAt(0).toUpperCase()}}" style="background-color: black;" >
											
											<span style="position: absolute; padding: 14px 0px 0px 32px; font-size: 1.50em; 
												font-weight: bold;">{{user.fullName}}
											</span>
											<span style="position: absolute; margin: 35px; font-size: 1.00em;">
											<span class="gglyphicon glyphicon-envelope" aria-hidden="true">{{user.email}}</span>
												
											</span>
											<span style="position: absolute; margin: 51px; font-size: 1.00em; margin-left: 36px;">
											<span class="glyphicon glyphicon-earphone" aria-hidden="true">{{user.mobile}}</span>
												
											</span>
											<span>
												<button class="btn btn-default btn-sm accBtn" type="button"
												value="My Account" data-ui-sref="profile" style="margin-top: 75px; margin-left: 30px;">My Account
												</button>
											</span>
										</div>
										<hr>
										<div style="background: #E8E8E8;">
										<div>
											<a ui-sref="login"><button class="btn btn-default btn-sm"
												style="margin: -9px 20px 0px 0px; float: right; border: 1px solid #c6c6c6;"
												type="button" value="signout" >
												Sign out
											</button></a>
										</div>
										<div>
											<button class="btn btn-default btn-sm"style="margin: -9px 20px 0px 19px; float: left; border: 1px solid #c6c6c6;"
												type="button" value="Add Account" data-ng-click="">
											Add account
											</button>
										</div>
									</div>
								</li>
                                  
                               </ul>
                                
                            </div>
                        </div>
                    </nav>

                    <div id="wrapper" class="toggled">
                        <div class="container-fluid ">
                            <!-- Sidebar -->
                            <div id="sidebar-wrapper" class="col-md-4-offset col-sm-4-offset col-lg-4-offset">
                                <ul class="sidebar-nav">
                                  	<li class="sidebar-brand">
                                        <br>
                                    </li>
                                    <li class="sidebar-brand" >
                                        <a class="navbar-brand" >
                                            <span class="glyphicon glyphicon-user" data-toggle="modal" data-target="#basicModal" aria-hidden="true"></span>
                                            {{user.fullName}} 
                                        </a>
                                    </li>
                                    <li>
                                        <a href=""><span class="glyphicon glyphicon-qrcode aria-hidden="true"></span> {{user.fullName}}</a>
                                    
                                      
                                        <a href=""><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{user.mobile}}</a>
                                    
                                    
                                        <a href=""><span class="gglyphicon glyphicon-envelope" aria-hidden="true"></span> {{user.email}}</a>
                                    </li>
                                     <li>
                                        <a href=""><div class="glyphicon glyphicon-leaf" id="notes"> Notes</div></a>
                                    </li>
                                    <li>
                                       <a href=""><div class="glyphicon glyphicon-trash" id="trash1"> Trash</div></a>
                                   </li>
                                    <li>
                                        <a href=""><div class="glyphicon glyphicon-hand-up" id="reminder"> Reminder</div></a>
                                    </li>
                                    <li>
                                        <a href=""><div class="glyphicon glyphicon-cog" id="setting"> Setting</div></a>
                                    </li>
                                  	<li>
                                      <a href=""><div class="glyphicon glyphicon-asterisk" id="about"> About</div></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /#sidebar-wrapper -->

                            <!-- Page Content -->
                            <div id="page-content-wrapper" >
                                <div class="container-fluid col-md-8-offset col-sm-8-offset col-lg-8-offset col-xs-12-offset">
                                    <div class="row">
                                    <form name="todoForm">
                                        <div class="">
                                          <div class="panel-group" style="margin-right:12%;">
                                          
                                              <div class="panel panel-default">
                                                  <!-- <div class="panel-heading"> -->
                                                      <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-target="#collapse1" > 
                                                        <input type="text" style="border:none;box-shadow:none;" ng-model="title" placeholder="Tittle" class="form-control" required></a>
                                                      </h4>
                                                  <!-- </div> -->
                                                  <div id="collapse1" class="panel-collapse collapse">
                                                      <!-- <div class="panel-body"> -->
                                                        <textarea rows="3" multiline="true" style="border:none;box-shadow: none;" ng-model="description" placeholder="Description" class="form-control" required></textarea>
                                                          <label id="date" style="margin-left:10px;">Reminder:<input type="date"  style="border:none;" ng-model="reminder" class="form-control" required>
                                                          
                                                          </label>
                                                         <!-- <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button> -->
                                                          <label id="add" ng-click="(!todoForm.$invalid?createTodo():'')" style="margin-right:10px;">Done</label>
                                                      <!-- </div> -->
                                                  </div>
                                              </div>
                                        </div>
                                    </div>
                                    </form>
                                    <div class="row " style="margin-left:10%;">
                                        <div class="col-md-3-offset col-sm-3-offset col-lg-3-offset col-xs-12-offset">
                                          <div class="cont" ng-init="readTodo()" ng-class="{list: isList, grid: !isList}">
                                              <div class="cardRow slides" >
                                                  <div class="card" ng-class="{'col-xs-12':!isList, 'col-md-4':!isList, 'col-sm-4':!isList,'col-lg-3':!isList}" ng-repeat="x in todos | orderBy:'-'| filter :searchtext track by  $index	"style="background-color: {{x.cardColor}}">
                                                      <div class="slideDown card-4" >
                                                      <div ng-click="triggerEditMode(x)">
                                                      
                                                     
                                                          <!-- <h3 style="overflow: hidden;text-overflow:ellipsis;">Tittle : {{ x.title | limitTo: 10 }}{{x.title.length > 10 ? '...' : ''}}</h3> -->
                                                          <h3 style="color:#008000;word-wrap:break-word;text-overflow:ellipsis; margin-top: 2px;margin-bottom: 5px;" ng-bind-html = "x.title | nl2br">Tittle :</h3>
                                                          <div style="overflow:hidden;word-wrap:break-word; text-overflow:ellipsis; margin-bottom: 5px;"  ng-bind-html =  "x.description | nl2br">Description :</div>
                                                          </div>
                                                          <!-- <div style="overflow:hidden; text-overflow:ellipsis;" >Description : {{ x.description | limitTo: 10 }}{{x.description.length > 10 ? '...' : ''}}</div> -->
                                                         
                                                          
                                                        
                                                          <div style="padding-top: 10px; margin-left:10px;" id="row">
                                                              <div class="row">
                                                                  <div class="col-xs-12 col-md-12" style="height: 15px!important">
                                                                      <a><span class="glyphicon glyphicon-trash "  id="trash" ng-click="deleteTodo(x.id)" title="Delete" style="width=:25px; height:25px"></span></a>
                                                                      <a><span class="glyphicon glyphicon-pencil " id="pencil" ng-click="triggerEditMode(x)"title="Edit"style="width=:25px; height:25px"></span></a>
                                                                      
                                                                     
                                                                      <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Social_Networks/facebook-25.png" title="Share with Facebook" style="width=:25px; height:25px">
                                                                     <img src="https://maxcdn.icons8.com/Color/PNG/24/Social_Networks/google_plus-24.png" title="Share with Google Plus" style="width=:25px; height:25px">
                                                                      
                                                                     
                                                                     
                                    <span class="dropup">
                                      <button
                                         data-ng-style="cardColor" class="dropdown-toggle "
                                         type="button" data-toggle="dropdown" style="background: rgba(255, 255, 255, 0);border: none;">
                                      <img src="https://maxcdn.icons8.com/Color/PNG/24/Editing/paint_basket-24.png" title="Paint Bucket" style="width=:25px; height:25px">
                                         <!-- style="background-color: rgba(255, 255, 255, 0)!important" width="20" height="20"> -->
                                      </button>
                                      <div id="test" style="width: auto;" class="dropdown-menu"
                                         role="menu" aria-labelledby="menu1">
                                         <ul class="ul" style="padding-left: 20px">
                                            <li>
                                               <div data-ng-click="changeCardColor('White',$event,$index,x.id)"
                                                  style="background-color: transparent;" class="test1"></div>
                                               <div data-ng-click="changeCardColor('#ff6666',$event,$index,x.id)"
                                                  style="background-color: #ff6666;" class="test1"></div>
                                               <div data-ng-click="changeCardColor('#ffa366',$event,$index,x.id)"
                                                  style="background-color: #ffa366;" class="test1"></div>
                                            </li>
                                            <li>
                                               <div data-ng-click="changeCardColor('#bfbfbf',$event,$index,x.id)"
                                                  style="background-color: #bfbfbf;" class="test1"></div>
                                               <div data-ng-click="changeCardColor('#99d6ff',$event,$index,x.id)"
                                                  style="background-color: #99d6ff;" class="test1"></div>
                                               <div data-ng-click="changeCardColor('#ccffb3',$event,$index,x.id)"
                                                  style="background-color: #ccffb3;" class="test1"></div>
                                            </li>
                                         </span>
                                         
                                          
                                         
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          
                                                      </div>
                                                  </div>
                                                  <hr>
                                                  <div  style=" margin-top: -10px;" ><img src="https://maxcdn.icons8.com/dotty/PNG/80/Business/appointment_reminders-80.png" title="Reminder" style="width=:15px; height:15px"> Reminder : {{x.reminder |date}}</div>
                                                  
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /#page-content-wrapper -->
                        </div>
                    </div>
                    <!-- /#wrapper -->
</div>




<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">user profile</h4>
    </div> -->

    <form>
        <div class="modal-body">
          <div class="col-md-12 col-lg-12">
              <div class="form-group">
          <img ng-src="{{user.profile[0].value}}" class="img-circle" alt="profile picture" width="70" height="70">
        </div>
      </div>
            <div class="col-md-12 col-lg-12">
                <div class="form-group">
                    <label>User Name:</label>{{user.fullName}}
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="form-group">
                    <label>Email:</label>{{user.email}}
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="form-group">
                    <label>Mobile Number:</label>{{user.mobile}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
    </div>
  </div>
</div>